* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#all {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#currentTime {
  color: white;
  text-align: center;
  line-height: 100vh;
  font-size: 90px;
}
